  body{
    background: #dde4ed;
  }
  h1{
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.5px;
    word-spacing: 0.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .container{
    width: 300px;
    height: 300px;
    margin: 10px auto;
    margin-top: 20px;
    color: #F0F8FF;
    background-color: #404c59;
    padding: 40px;
    padding-bottom: 110px;
    border: none;
    border-radius: 50px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    font-family: 'Roboto';
  }
  .container:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .form {
    margin: 10px auto;
    text-align: center;
  }
  .label1{
    margin-left: 120px;
    color: #F0F8FF;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: #71adaa; */
    /* color: white; */
   
  }
  .label2{
    margin-left: 120px;
    color: #F0F8FF;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* margin-bottom: 70px; */
  }
  .input{
  
    display: flex;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    border:none;
    border-radius: 10px;
    padding: 12px;
    width: 200px;
    background-color: #ccc;
  }
  #error1{
    margin-top: -8px;
    margin-left: 40px;
  }
  #error2{
    margin-top: -8px;
    margin-left: 40px;
  }
  .btn{
    margin-top: 45px;
  }
  .button{
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: #404c59;
    margin-top: 10px;
    margin-left: 100px;
    background-color: #71adaa;
  }
  .button:hover{
    color: white;
    background-color: #404c59;
    border: white 2.2px solid;
    height: 40px;
    width: 105px;
    cursor: pointer;
  }
  
  ::placeholder{
    letter-spacing: 0.1em;
  }

  .tab{
    margin-left: 560px;
    margin-top: 30px;
   
  }
  .team{
    font-weight: bold;
    height:35px;
    text-align: center;
    background-color: #949597;
    /* border-radius: 20px; */
  }  
  .team:hover{
    background-color: #71adaa;
  }
  
  table {
    border-collapse: collapse;
    /* width: 15%; */
    height: 30px;
    text-align: center;
    padding: 35px;
    border: 1px solid;
    border-radius: 20px;
  }
  th, td {
    padding: 10px;
     border: 1px solid;
  }

  #et{
    margin-top: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(73, 145, 73);
    color: white;
    border-radius: 7px;
    /* display: flex; */
  }
  #de{
    margin-top: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(216, 88, 88);
    color: white;
    border-radius: 7px;
  }

  

 